/*body{
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

.container{
    transform: scale(0.67);
    transform-origin: top;
}

.header{
    position: relative;

    background-image: url(/bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item{
    color:aliceblue;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    margin-right: 25px;
}

.item{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.item:hover{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.nav-item:hover{
    color:rgb(168, 168, 168);
    text-decoration: none;
}

.cart{
   background-color: rgb(255, 230, 0);
   text-decoration: none;
   display: flex;
   border-radius: 5px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.199);
}

.text-cart{ 
   color:rgb(0, 0, 0);
   padding: 10% 30px;
   font-weight: 700;
   font-size: 20px;
}

.cart:hover{
    background-color: rgba(255, 236, 62, 1);
    text-decoration: none;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 230, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.199);
}

.form h1{
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    font-size: 30px;
}

.input-form{
    margin: 15px 10px;
}

.input-form input{
    padding: 10px;
    width: 100%;
    color: black;
    background-color: rgb(189, 170, 0) ;
    outline: none;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 5px;
}

.input-form input[type="text"]:focus, .input-form input[type="password"]:focus{
    border: 1px solid rgb(94, 94, 94);
}

.input-form input[type="submit"]{
    color: rgb(0, 0, 0);
    background-color: #d64c0c;
    margin-top: 20px;
    border: none;
    transition: .3s;
    font-weight: bold;
}

.input-form input[type="submit"]:hover{
    background: #9e390b;
}

.container2 {
    background-color: rgb(255, 230, 0);
    border-radius: 5px;
    margin-top: -25px;
  }

  .container3{
    
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 5px;
  }
  
  @media (max-width: 767px) {
    .row-cols-1.row-cols-md-4.g-4 > .col {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .row-cols-1.row-cols-md-4.g-4 > .col {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1399px) {
    .row-cols-1.row-cols-md-4.g-4 > .col {
      flex-basis: 33.33%;
      max-width: 33.33%;
    }
  }
  
  @media (min-width: 1400px) {
    .row-cols-1.row-cols-md-4.g-4 > .col {
      flex-basis: 25%;
      max-width: 25%;
    }
  }


  .rating-result {
    width: 265px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rating-result span {
    padding: 0;
    font-size: 29px;
    margin: 0 1px;
    line-height: 1;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
  }
  
  .rating-result > span:before {
    content: '★';
  }
  
  .rating-result > span.active {
    color: gold;
    text-shadow: 1px 1px #c60;
  }*/

  .container2 {
    max-width: 720px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(246, 251, 255);
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.753);
  }

  
.container{
  transform-origin: top;
}

.navbar{
  background-color: rgb(0, 59, 107);
}
